# Copy this file to .env and edit as needed
POSTGRES_USER=postgres
POSTGRES_PASSWORD=choose-a-long-random-password

# By default, compose.yaml reads the system $USER env var to set the normal
# Postgres user account. If it is not set or you want to change it, do so here.
#NORMAL_USER=my_pg_username
NORMAL_USER_PASSWORD=Set user Passw0rd


# pgadmin settings
# email address and password to use for the admin account username
# if you don't want to use the same 'USER' account details as postgres

#PGADMIN_DEFAULT_EMAIL=other@localhost
#PGADMIN_DEFAULT_PASSWORD=other strong password
